{% extends 'base.html.twig' %}

{% block title %}AWeekOfCulture{% endblock %}

{% block body %}
    <div class="container">
        <h4 class="pt-5">Pour vous</h4>
        <hr>
        <form class="form-inline" action="{{ path('recherche_posts') }}" method="get">
            <div class="row">
                <div class="form-group col-3">
                    <input type="text" class="form-control" name="q" placeholder="Rechercher des posts...">
                </div>
                <button type="submit" class="btn btn-sm mb-2 mr-2 col-1"><span class="material-symbols-outlined">search</span></button>
            </div>
        </form>

        {% if test == true %}
        <div class="alert alert-danger alert-dismissible fade show">
            <p>Désolée.. &#128517; Tu a déja créer ton posts de la semaine !</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% set i = 0 %}
        {% for post in posts %}
            {% if i == 0 %}
                <div class="row mb-4">
            {% endif %}
            <div class="col-lg-5 col-12 card-wrapper card overflow-hidden shadow rounded-4 border-0 mb-5 " onclick="redirectToPost({{ post.id }})" style="cursor: pointer">
                <div class="card-body" style="width: 30rem;">
                    <img src="{{ vich_uploader_asset(post) }}" alt="" class="card-img-top">
                    <div class="card-body">
                        {% if app.user == post.user %}
                            <a href="{{ path('app_posts_show', {'id': post.id}) }}" class="btn btn-primary">Edit</a>
                        {% endif %}
                        <a href="{{ path('like_post', {'id': post.id}) }}" class="d-flex align-items-center " style="text-decoration: none; color: red; font-size: 20px">
                            {% if post.isLikedByUser(app.user) %}
                                <i class="fa-solid fa-heart"></i>
                            {% else %}
                                <i class="fa-regular fa-heart"></i>
                            {% endif %}
                        </a>
                        <p style="font-weight: bolder;">{{ post.numberOfLike }} J'aime</p>
                        <h5 class="card-title">{{ post.title }}</h5>
                    </div>
                </div>
            </div>
            {% if i == 3 %}
                </div>
                {% set i = -1 %}
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    </div>

    <script>
        function redirectToPost(postId) {
            window.location.href = "{{ path('app_posts_show', {'id': '__postId__'}) }}".replace('__postId__', postId);
        }
    </script>
{% endblock %}
