{% extends 'base.html.twig' %}

{% block title %}AWeekOfCulture{% endblock %}

{% block body %}
<div class="container">
    <h5>{{ user.pseudo }}</h5>

    <h1>{{ post.title }}</h1>
    <h5>crée le {{ post.dateTimeModif ? post.dateTimeModif|date('Y-m-d H:i:s') : '' }}</h5>
    <img src="{{ vich_uploader_asset(post) }}" alt="" class="card-img-top">
    <h5>Description</h5>
    <p>{{ post.text }}</p>
    <a href="{{ path('app_posts_index') }}">back to list</a>

    {% if app.user == post.user %}
        <a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>

        {{ include('posts/_delete_form.html.twig') }}
    {% endif %}
</div>

{% endblock %}
